<%- include('partials/header') -%>

    <main class="container about">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>Hello skaters!</h2>
                <p>Welcome to Stride & Skate. I picked up roller skating over the pandemic and fell in love. When I started, I was overwhelmed with information and had nobody to skate with. Endless tricks to learn, which skates to purchase and which ones to avoid, different wheels... the list goes on.</p>
                <p>I created this app in an effort to create a welcoming skating community and serve as a roller skating resource. It's neat to go back to videos and see how far I've come. Now I can save all my progess on this app. Skating quickly became one of my favourite hobbies. All you need is your skates, protective gear, and some music to have a wonderful skate session - it's great to skate with others too :)</p>
            </div>
        </div>
    </main>
    <%- include('partials/footer') -%>