<%- include('partials/header') -%>

    <main class="container about">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mt-5 px-4">
                <h2 class="mb-5">Hello skaters!</h2>
                <p>Welcome to Stride & Skate. I picked up roller skating over the pandemic and fell in love. When I started, I was overwhelmed with information and had nobody to skate with. Endless tricks to learn, which skates to purchase and which ones to avoid, different wheels... the list goes on.</p>
                <p>I created this app in an effort to create a welcoming skating community where you can share your progress and view skate spots. It's neat to go back to videos and see the progress from the beginning. All you need is your skates, protective gear, and some music to have a wonderful skate session - maybe some friends too!</p>
                <img class="img-fluid py-3 mb-5" src="https://source.unsplash.com/Q5RTxSWooZo" alt="">
            </div>
        </div>
    </main>
    <%- include('partials/footer') -%>