<%- include('partials/header') -%>

    <main class="container about">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2>What is Stride & Skate?</h2>
                <!-- <p>Have you ever started a hobby and realized there's an abundance of information? Stride & Skate aims to promote a welcoming community that allows users to review products, share their progress and pin skate spots in a map.</p> -->
                <p>TBC.</p>
            </div>
        </div>
    </main>
</body>
</html>
