<%- include('partials/header') -%>

<main class="container">
    <div class="container mt-3">
        <p class="text-center">Join our community to share your skate progress, learn new tricks, write reviews on products, and interact with other skaters!</p>
    </div>
    <div class="row justify-content-center mt-5">
        <a href="/login" class="col-3 btn btn-primary homepage"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary homepage"> Signup</a>
    </div>
    <div class="row justify-content center mt-5">
        <img src="https://source.unsplash.com//uNG0nr7XOEE" alt="skatepark" class="home-img">
    </div>
</main>
    

<%- include('partials/footer') -%>