<%- include('partials/header') -%>

    <main class="container-fluid px-50 homeSection">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 col-sm-8">
                <p class="text-center px-5">Discover the world of Roller Skating with a community. Share your progress, find your skate inspiration, and view places to skate near you.</p>   
                <div class="d-flex justify-content-center">
                    <a href="/signup" class="btn getStarted ">Get Started</a>     
                </div>
            </div>
            <div class="col-md-6 col-sm-v4 mt-5">
                <div class="d-flex justify-content-center">
                    <img src="https://source.unsplash.com//uUR0tIZ6U9M" alt="skatepark" class="img-fluid rounded homeImg justify-content-center">
                </div>
            </div>
        </div>
    </main>

<%- include('partials/footer') -%>
