html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

body {
    font-family: 'Playfair Display', serif;
    background:rgb(220, 232, 235);
}

/* home page */

.homeImg {
    max-width: 100%;
    max-height: 30vh;
    box-shadow: 5px 5px rgba(84, 91, 95, 0.966);
    border: 1px solid red;
}

.indexImg{
    max-width: 500px;
}

.imgContainer {
    max-width: 300vh;
}

#mainNavBar.activated {
    background: rgb(61, 71, 77);
}

.nav-brand {
    margin-left: 20px;
}

.homeSection {
    margin-top: 6rem;
}

.getStarted, .btn-submit {
    background:rgb(142, 165, 179);
}

.getStarted > a{
    color: white;
    text-decoration: none;
}

.btn-info {
    display: block;
}

/* sign up and login page */
/* fix blue border around submit btn */
.signUp, .login, .about, .post, .feed{
    margin-top: 70px;
}

.profile {
    margin: 100px auto;
}

.btn-submit {
    background:rgb(107, 131, 146);
}

.feed-btn, .submit-btn, .post-btn {
    background:rgba(96, 139, 165, 0.479);
    border: none;
}

.feed-btn {
    max-width: 60%;
}

.feed-media {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px 5px;
}

.feed-gallery {
    margin-top: 70px;
}

.uploadPost {
    background: #98C3C1;
    border-radius: 10%;
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
}

.fa-heart, .fa-heart-broken{
    background-color: #488286;
    border: none;
}

.fa-heart:hover, .fa-heart-broken:hover {
    background-color: #305252;
}
/* #map {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
} */

@media (min-width: 400px) and (max-width: 600px){
    .feed-img {
        height: 300px;
    }
}

/* media queries */

/* small */

/* @media (min-width: 576px) and (max-width: 760px){
    .homeImg {
        display: block;
        margin: auto;
        width: 50%;
    }
} */