body {
    font-family: 'Playfair Display', serif;
    background:rgba(192, 210, 214, 0.788);
}

/* home page */

.homeImg {
    max-width: 100%;
    max-height: 500px;
}

#mainNavBar.activated {
    background: rgb(61, 71, 77);
}

.nav-brand {
    margin-left: 20px;
}

.homeSection {
    margin-top: 6rem;
}